<%= form_with(model: quick_button, local: true) do |form| %>
  <% if quick_button.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quick_button.errors.count, "error") %> prohibited this quick_button from being saved:</h2>

      <ul>
      <% quick_button.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :quick_button_user_id %>
  </div>

  <div class="field">
    <%= form.label :device_uid %>
    <%= form.number_field :device_uid, id: :quick_button_device_uid %>
  </div>

  <div class="field">
    <%= form.label :index_on_device %>
    <%= form.number_field :index_on_device, id: :quick_button_index_on_device %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :quick_button_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :quick_button_description %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :quick_button_duration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
