<p id="notice"><%= notice %></p>

<h1>Quick Buttons</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Device uid</th>
      <th>Index on device</th>
      <th>Title</th>
      <th>Description</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quick_buttons.each do |quick_button| %>
      <tr>
        <td><%= quick_button.user_id %></td>
        <td><%= quick_button.device_uid %></td>
        <td><%= quick_button.index_on_device %></td>
        <td><%= quick_button.title %></td>
        <td><%= quick_button.description %></td>
        <td><%= quick_button.duration %></td>
        <td><%= link_to 'Show', quick_button %></td>
        <td><%= link_to 'Edit', edit_quick_button_path(quick_button) %></td>
        <td><%= link_to 'Destroy', quick_button, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quick Button', new_quick_button_path %>
