<% provide(:title, 'Quick Button Overview') %>

<div class="page-header-title">

  <h1>Detailed view for the Quick Button</h1>

  <h1>
    <small><%= @quick_button.title %> @ <%= @quick_button.device.name %></small>
  </h1>

  <% if !@quick_button.description.empty? %>
    <h2>
      <%= @quick_button.description %>
    </h2>
  <% end %>

</div>

<!-- QUICK BUTTON'S SETTINGS-->
<div class=" panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
  </div>

  <div class="panel-body">

    <div class="row">

      <div class="col-md-3">
        <strong>Index on Device:</strong>
        <%= @quick_button.index_on_device %>
      </div>

      <div class="col-md-3">
        <strong>Duration:</strong>
        <%= @quick_button.duration %>
      </div>

    </div>

    <hr>

    <div class="quick-button-actions-list-header">
      <div class="row">

        <div class="col-md-3">
          <div class="form-group">
            <%= label DeviceAttribute, :name, DeviceAttribute.human_attribute_name(:name) %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= label QuickButton, :device_attribute_start_value, QuickButton.human_attribute_name(:device_attribute_start_value) %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <%= label QuickButton, :device_attribute_end_value, QuickButton.human_attribute_name(:device_attribute_end_value) %>
          </div>
        </div>

      </div>
    </div>


    <% @quick_button.actions.each do |action| %>
      <div class="row">

        <div class="col-md-3">
          <%= action.device_attribute.name %>
        </div>

        <div class="col-md-3">
          <% if action.device_attribute.primitive_type_c_id == DeviceAttribute::PRIMITIVE_TYPES[:BOOL][:ID] %>
            <% DeviceAttribute::BOOL_VALUES.each do |key, hash| %>
              <%= hash[:LABEL] if hash[:ID] == action.device_attribute_start_value.to_i %>
            <% end %>
          <% else %>
            <%= action.device_attribute_start_value %> <%= action.device_attribute.unit %>
          <% end %>
        </div>

        <div class="col-md-3">
          <% if action.device_attribute.primitive_type_c_id == DeviceAttribute::PRIMITIVE_TYPES[:BOOL][:ID] %>
            <% DeviceAttribute::BOOL_VALUES.each do |key, hash| %>
              <%= hash[:LABEL] if hash[:ID] == action.device_attribute_end_value.to_i %>
            <% end %>
          <% else %>
            <%= action.device_attribute_end_value %> <%= action.device_attribute.unit %>
          <% end %>
        </div>

      </div>
    <% end %>

  </div>

</div>

<div class="entity-view-footer-links">
  <%= link_to('Edit', edit_quick_button_path(@quick_button)) %> |
  <%= link_to('Back', quick_buttons_path) %>
</div>
