<%= form_for @device, url: devices_path do |df| -%>

    <% if @device.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@device.errors.count, "error") %> prohibited this @device from being saved:</h2>

          <ul>
            <% @device.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= df.label :name %>
      <%= df.text_field :name, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= df.label :location %>
      <%= df.text_field :location, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= df.label :description %>
      <%= df.text_area :description, class: "form-control" %>
    </div>

    <div id="device-properties">
      <%= render partial: 'device_property', collection: @device.properties %>
    </div>

    <span id="add_new_property" class="add-line">Add New Property</span>

    <div class="actions">
      <%= df.submit %>
    </div>
<% end -%>

<script>

    $('#add_new_property').click(function () {
//        if ($('#education_text_field').val()) {
//            var text = $("#device-properties").val().replace(/\"/g, "&#34");
            var append_text = '<li> <span class="del-icon">X</span><input type="hidden" name="new_education_descriptions[]" value=""></li>';
            $('#device-properties').append(append_text);
//            $('#education_text_field').val("");
//        }
    });
//    $('body').on('click', '#education_list li span', function () {
//        $(this).closest('li').remove();
//    });

</script>