<div id="device-form-container">

  <%= form_for(device, html: { id: 'device-form' }) do |device_form| %>

    <% if device.errors.any? %>
      <div id="errors-explanation">
        <h2><%= pluralize(device.errors.count, 'error') %> prohibited this
          device from being saved:</h2>
        <ul>
          <% device.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">

      <div class="col-xs-6">
        <div class="form-group">
          <%= device_form.label :name %>
          <%= device_form.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="form-group">
          <%= device_form.label :location %>
          <%= device_form.text_field :location, class: 'form-control' %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <%= device_form.label :description %>
          <%= device_form.text_area :description, class: 'form-control' %>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="form-group">
          <button type="button" class="action-button active add-new-device-attribute form-control">
            <span>Add Device Attribute</span>
          </button>
        </div>
      </div>
      <div class="col-xs-3"></div>
    </div>

    <%= render partial: 'device_attribute_form', locals: { device_attributes: device.device_attributes } %>

    <hr/>

    <div class="actions">
      <%= device_form.submit %>
    </div>

  <% end %>

</div>

<div id="device-attribute-template" class="hidden">
  <%= render partial: 'device_attribute_form_element', locals: { device_attribute: DeviceAttribute.new } %>
</div>
