<div class="device-properties-header">

  <div class="row">

    <div class="col-xs-2">
      <div class="field form-group">
        <%= label Property, :name, 'Prop Name' %>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="field form-group">
        <%= label Property, :value_type_id %>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="field form-group">
        <%= label Property, :value_min %>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="field form-group">
        <%= label Property, :value_max %>
      </div>
    </div>


    <div class="col-xs-2">
      <div class="field form-group">
        <%= label Property, :value %>
      </div>
    </div>

    <div class="col-xs-1">
      <div class="field form-group">
        <%= label Property, :auto %>
      </div>
    </div>


    <div class="col-xs-1">
      <div class="field form-group">
        <label>Action</label>
      </div>
    </div>

  </div>

</div>

<div class="device-properties-wrapper">
  <%= render partial: 'device_property_form_element', collection: properties, as: 'device_property' %>
</div>
