<%= form_for device do |device_form| -%>

    <% if device.errors.any? %>
        <div id='error-explanation'>
          <h2><%= pluralize(device.errors.count, 'error') %> prohibited this device from being saved:</h2>

          <ul>
            <% device.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class='field form-group'>
      <%= device_form.label :name %>
      <%= device_form.text_field :name, class: 'form-control' %>
    </div>

    <div class='field form-group'>
      <%= device_form.label :location %>
      <%= device_form.text_field :location, class: 'form-control' %>
    </div>

    <div class='field form-group'>
      <%= device_form.label :description %>
      <%= device_form.text_area :description, class: 'form-control' %>
    </div>

    <div class='field form-group'>
      <button type='button' id='add-new-property' class='form-control'>Add New Property</button>
    </div>

    <div id='device-properties'>
      <%= render partial: 'device_property', collection: device.device_properties %>
    </div>

    <div class='actions'>
      <%= device_form.submit %>
    </div>

<% end -%>

<div id='new-device-property-template' style='display: none;'>
  <%= render partial: 'device_property', collection: device_form_template.device_properties %>
</div>
