<% if device_property.new_record? %>
  <% record_state =  'new' %>
  <% device_property_index = (defined? device_property_counter) ? device_property_counter : 'INDEX' %>
<% else %>
  <% record_state = 'existing' %>
  <% device_property_index = device_property.id %>
<% end %>

<% prefix = "device[#{record_state}_properties]" %>

<div class="device-property"  data-index="<%= device_property_index %>" >

  <%= fields_for prefix, device_property, index: device_property_index do |property_form| %>

    <div class="row">

      <div class="col-xs-2">
        <div class="field form-group">
          <%= property_form.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="field form-group">
          <%= property_form.select(:value_type_id, {}, {}, { class: 'form-control' }) do %>
            <% @value_types.each do |c| -%>
              <%= content_tag(:option, c.name, value: c.id) %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="field form-group">
          <%= property_form.number_field :value_min, class: 'form-control' %>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="field form-group">
          <%= property_form.number_field :value_max, class: 'form-control' %>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="field form-group">
          <%= property_form.text_field :value, class: 'form-control' %>
        </div>
      </div>

      <div class="col-xs-1">
        <div class="field form-group">
          <%= property_form.select(:auto, {}, {},  { class: 'form-control' } ) do %>
            <% [['ON', 1], ['OFF', 0] ].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-1">
        <div class="field form-group">
          <input type="button" class="remove-device-property-button form-control" value="X"/>
        </div>
      </div>

    </div>

  <% end %>

</div>
