<%= form_for @device_form, url: devices_path do |df| -%>

    <% if @device_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@device_form.errors.count, "error") %> prohibited this @device_form from being saved:</h2>

          <ul>
            <% @device_form.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= df.label :name %>
      <%= df.text_field :name, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= df.label :location %>
      <%= df.text_field :location, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= df.label :description %>
      <%= df.text_area :description, class: "form-control" %>
    </div>

    <div class="field form-group">
      <button type="button" id="add_new_property" class="add-line">Add New Property</button>
    </div>

    <div id="device-properties">
      <%= render partial: 'device_property', collection: @device_form.properties %>
    </div>

    <div class="actions">
      <%= df.submit %>
    </div>

<% end -%>

<div id="device-property-new-template" style="display: none;">
  <%= render partial: 'device_property', collection: @device_form_template.properties %>
</div>
