<h1>User Device Overview</h1>

<div>
  <strong>Serial No:</strong>
  <%= @device.uid %>
</div>

<div>
  <strong>User Name:</strong>
  <%= @device.user.email %>
</div>

<div>
  <strong>Device Name:</strong>
  <%= @device.name %>
</div>

<div>
  <strong>Location:</strong>
  <%= @device.location %>
</div>

<div>
  <strong>Description:</strong>
  <%= @device.description %>
</div>

<div>
  <strong>Access token:</strong>
  <%= @device.access_token %>
</div>

<div>
  <strong>Last contact at:</strong>
  <%= @device.last_contact_at %>
</div>

<hr/>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
