<p>
  <strong>Serial No:</strong>
  <%= @device.uid %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @device.user.email %>
</p>

<p>
  <strong>Device Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @device.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @device.description %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @device.access_token %>
</p>

<p>
  <strong>Last contact at:</strong>
  <%= @device.last_contact_at %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
