<% action_index = (action.id) ? action.id : 'ACTION_INDEX' %>
<% current_form_prefix = prefix_for_subform + '[actions]' %>

<div class="action form-row" data-index="<%= action_index %>">

  <%= fields_for current_form_prefix, action, index: action_index do |action_form| %>

    <% if action.errors.any? %>
      <div id="errors-explanation">
        <h2><%= pluralize(action.errors.count, 'error') %> prohibited this
          schedule from being saved:</h2>
        <ul>
          <% action.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= action_form.hidden_field :id, class: 'action-id' %>
    <%= action_form.hidden_field :device_attribute_id, class: 'action-device-attribute-id' %>

    <div class="row">

      <div class="col-sm-4">
        <div class="form-group">
          <span class="event-action-device-attribute-name-placeholder"><%= (action && action.device_attribute) ? action.device_attribute.name : '' %></span>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <%= action_form.text_field :device_attribute_start_value, class: 'form-control action-device-attribute-start-value' %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <%= action_form.text_field :device_attribute_end_value, class: 'form-control action-device-attribute-end-value' %>
        </div>
      </div>

    </div>

  <% end %>

</div>
