<% action_index = (action.id) ? action.id : (idx) ? idx : 'ACTION_INDEX' %>
<% current_form_prefix = prefix_for_subform + '[actions]' %>

<div class="action form-row responsive-table-element-field" data-index="<%= action_index %>">

  <%= fields_for current_form_prefix, action, index: action_index do |action_form| %>

    <% if action.errors.any? %>
      <div id="errors-explanation">
        <h2><%= pluralize(action.errors.count, 'error') %> prohibited this
          schedule from being saved:</h2>
        <ul>
          <% action.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= action_form.hidden_field :id, class: 'action-id' %>
    <%= action_form.hidden_field :device_attribute_id, class: 'action-device-attribute-id' %>

    <div class="row">

      <div data-label="<%= Action.human_attribute_name(:title) %>" class="col-md-4">
        <div class="form-group responsive-table-element">
          <span class="event-action-device-attribute-name-placeholder"><%= (action && action.device_attribute) ? action.device_attribute.name : '' %></span>
        </div>
      </div>

      <div data-label="<%= Action.human_attribute_name(:device_attribute_start_value) %>" class="col-md-4">
        <div class="form-group action-device-attribute-start-value-container responsive-table-element">
          <% if (action && action.device_attribute.nil?) || (action && action.device_attribute && action.device_attribute.primitive_type_c_id == DeviceAttribute::PRIMITIVE_TYPES[:BOOL][:ID]) %>
            <div class="action-device-attribute-start-value-bool">
              <%= action_form.select(:device_attribute_start_value, {}, {}, { class: 'form-control action-device-attribute-start-value' }) do %>
                <% options_for_select(
                       [
                           [DeviceAttribute::BOOL_VALUES[:MIN][:LABEL], DeviceAttribute::BOOL_VALUES[:MIN][:ID]],
                           [DeviceAttribute::BOOL_VALUES[:MAX][:LABEL], DeviceAttribute::BOOL_VALUES[:MAX][:ID]],
                       ], action.device_attribute_start_value.to_i)
                %>
              <% end %>
            </div>
          <% end %>

          <% if (action && action.device_attribute.nil?) || (action && action.device_attribute && action.device_attribute.primitive_type_c_id != DeviceAttribute::PRIMITIVE_TYPES[:BOOL][:ID]) %>
            <div class="action-device-attribute-start-value-not-bool">
              <%= action_form.text_field :device_attribute_start_value, class: 'form-control action-device-attribute-start-value' %>
            </div>
          <% end %>
        </div>
      </div>

      <div data-label="<%= Action.human_attribute_name(:device_attribute_end_value) %>" class="col-md-4">
        <div class="form-group action-device-attribute-end-value-container">
          <% if (action && action.device_attribute.nil?) || (action && action.device_attribute && action.device_attribute.primitive_type_c_id == DeviceAttribute::PRIMITIVE_TYPES[:BOOL][:ID]) %>
            <div class="action-device-attribute-end-value-bool">
              <%= action_form.select(:device_attribute_end_value, {}, {}, { class: 'form-control action-device-attribute-end-value' }) do %>
                <% options_for_select(
                       [
                           [DeviceAttribute::BOOL_VALUES[:MIN][:LABEL], DeviceAttribute::BOOL_VALUES[:MIN][:ID]],
                           [DeviceAttribute::BOOL_VALUES[:MAX][:LABEL], DeviceAttribute::BOOL_VALUES[:MAX][:ID]],
                       ], action.device_attribute_end_value.to_i)
                %>
              <% end %>
            </div>
          <% end %>

          <% if (action && action.device_attribute.nil?) || (action && action.device_attribute && action.device_attribute.primitive_type_c_id != DeviceAttribute::PRIMITIVE_TYPES[:BOOL][:ID]) %>
            <div class="action-device-attribute-end-value-not-bool">
              <%= action_form.text_field :device_attribute_end_value, class: 'form-control action-device-attribute-end-value' %>
            </div>
          <% end %>
        </div>
      </div>

    </div>

  <% end %>

</div>
