<% action_index = (defined? action_counter) ? action_counter : 'INDEX' %>
<% prefix = 'actions' %>




<div class="action form-row" data-index="<%= action_index %>">

  <%= fields_for prefix, action, index: action_index do |action_form| %>

    <% if action.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(action.errors.count, "error") %> prohibited this
          schedule from being saved:</h2>
        <ul>
          <% action.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= action_form.hidden_field :id %>

    <div class="row">

      <div class="col-xs-2">
        <div class="form-group">
          <%= action_form.select(:attribute_id, {}, {}, { class: 'form-control', id: 'action-device-attributes-select-box' }) do %>
            <% options_for_select(@selected_device_attributes, action.attribute_id) %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="form-group">
          <%= action_form.text_field :attribute_value, class: 'form-control' %>
        </div>
      </div>

      <div class="col-xs-1">
        <div class="form-group">
          <input type="button" class="action-button active remove-form-row form-control" value="X"/>
        </div>
      </div>

    </div>

  <% end %>

</div>
