<%= form_for(schedule) do |f| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
      <ul>
        <% schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :device_uid %>
        <%= f.select(:device_uid, {}, {}, { class: 'form-control' }) do %>
          <% if @devices.any? %>
            <% @devices.each do |c| %>
              <%= content_tag(:option, c.name, value: c.uid) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :datetime %>
        <%= f.datetime_local_field :datetime, class: 'form-control' %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :is_recurrent %>
        <%= f.check_box :is_recurrent, class: 'form-control' %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :recurrence_period %>
        <%= f.text_field :recurrence_period, class: 'form-control' %>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
