<div id="get-device-attributes-list-url" class="hidden" data-url="<%= device_url('DEVICE_ID') + '/get_device_attributes_list' %>"></div>

<%
  form_options = {
      id:                'schedule-form',
      'data-create-url': schedules_url,
      'data-update-url': schedule_url('SCHEDULE_ID'),
  }
%>

<div id="schedule-form-container">

  <%= form_for(schedule, html: form_options) do |schedule_form| %>

    <% if schedule.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(schedule.errors.count, 'error') %> prohibited this
          schedule from being saved:</h2>
        <ul>
          <% schedule.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= schedule_form.hidden_field :id %>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <%= schedule_form.label :title %>
          <%= schedule_form.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= schedule_form.label :description %>
          <%= schedule_form.text_field :description, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <%= schedule_form.label :start_datetime %>
          <div class="input-group">
            <%= schedule_form.text_field(:start_datetime, { class: 'form-control', 'aria-describedby': 'schedule-start-datetime-calendar-addon' }) %>
            <span class="input-group-addon" id="schedule-start-datetime-calendar-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= schedule_form.label :end_datetime %>
          <div class="input-group">
            <%= schedule_form.text_field(:end_datetime, { class: 'form-control', 'aria-describedby': 'schedule-end-datetime-calendar-addon' }) %>
            <span class="input-group-addon" id="schedule-end-datetime-calendar-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <div class="form-group">
          <%= select(ScheduleEvent, :device_uid, Device.all.collect {|p| [p.name, p.uid]}, {}, { id: 'add-new-event-to-schedule', name: nil, class: 'form-control' }) %>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <button type="button" class="action-button active add-new-event-to-schedule-button form-control">Add new event for this device</button>
        </div>
      </div>
    </div>

    <hr>

    <%= render partial: '/schedules/schedule_event_form', collection: schedule.schedule_events, as: :schedule_event %>

  <% end %>

</div>

