<div id="get-device-attributes-list-url" class="hidden" data-url="<%= device_url('DEVICE_ID') + '/get_device_attributes_list' %>"></div>

<%= schedule.id %>

<%
  form_options = {
      id:                'schedule-form',
      'data-create-url': schedules_url,
      'data-update-url': schedule_url('SCHEDULE_ID'),
  }
%>

<div id="schedule-form-container">

  <%= form_for(schedule, html: form_options) do |schedule_form| %>

    <% if schedule.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(schedule.errors.count, 'error') %> prohibited this
          schedule from being saved:</h2>
        <ul>
          <% schedule.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= schedule_form.hidden_field :id %>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <%= schedule_form.label :title %>
          <%= schedule_form.text_field :title, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <%= schedule_form.label :device_uid %>
          <%= schedule_form.select(:device_uid, {}, { include_blank: '- Select device -' }, { class: 'form-control schedule-device-selector' }) do %>
            <% if @availiable_devices.any? %>
              <% options_for_select(@availiable_devices, schedule.device_uid) %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= schedule_form.label :datetime %>
          <div class="input-group">
            <%= schedule_form.text_field(:datetime, { class: 'form-control', 'aria-describedby': 'schedule-datetime-calendar-addon' }) %>
            <span class="input-group-addon" id="schedule-datetime-calendar-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <%= schedule_form.label :is_recurrent %>
          <div class="checkbox checkbox-primary">
            <%= schedule_form.check_box :is_recurrent %>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= schedule_form.label :recurrence_period %>
          <%= schedule_form.text_field :recurrence_period, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= schedule_form.label :repeat_every %>
          <%= schedule_form.select(:repeat_every, {}, { include_blank: '- Select period -' }, { class: 'form-control' }) do %>
            <% options_for_select(@repeat_every_list, schedule.repeat_every) %>
          <% end %>
        </div>
      </div>
    </div>

    <hr/>

    <%= render partial: '/actions/action_form', locals: { actions: schedule.actions } %>

  <% end %>

</div>

<div id="action-template" class="hidden">
  <%= render partial: '/actions/action_form_element', locals: { action: Action.new } %>
</div>