<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="device-detail-show-view-update-interval-in-seconds" content="<%= (Rails.application.secrets.configs[:device_detail_show_view_update_interval_in_seconds]) ? Rails.application.secrets.configs[:device_detail_show_view_update_interval_in_seconds] : 60 %>">
  <%= render 'layouts/shim' %>
</head>
<body>

<div id="device-attribute-direction-constants" class="hidden" data-constants="<%= ActiveSupport::JSON.encode(DeviceAttribute::DIRECTIONS) %>"></div>
<div id="device-attribute-primitive-types-constants" class="hidden" data-constants="<%= ActiveSupport::JSON.encode(DeviceAttribute::PRIMITIVE_TYPES) %>"></div>

<%= render 'layouts/header' %>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>

  <div>
    <%= debug(Time.new) if Rails.env.development? %>
    <%= debug(RUBY_VERSION) if Rails.env.development? %>
    <%= debug(params) if Rails.env.development? %>
    <%= debug(I18n.t('hello')) if Rails.env.development? %>
  </div>

</div>
</body>
</html>